.SearchMovies{
    width: 100%;
    height: 100vh;
    background: rgb(15,40,180);
background: -moz-linear-gradient(0deg, rgba(15,40,180,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(15,40,180,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 100%);
background: linear-gradient(0deg, rgba(15,40,180,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f28b4",endColorstr="#ffffff",GradientType=1);
}
.SearchMovies .Form{
    width: 80%;
}
.SearchMovies h2{
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}
.SearchMovies h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
}
.SearchMovies h1 span{
    font-weight: 700;
}
@media only screen and (max-width: 400px){
    .SearchMovies h2{
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
    }
    .SearchMovies h1{
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 300;
    }
}